@font-face {
    font-family: "GraphikLCG-Bold";
    font-style: normal;
    src: local("Graphik-Bold-Web"),
        url("../fonts/Graphik-Bold-Web.woff") format("woff");

}
@font-face {
    font-family: "GraphikLCG-Medium";
    font-style: normal;
    src: local("Graphik-Medium-Web"),
        url("../fonts/Graphik-Medium-Web.woff") format("woff");
}
@font-face {
    font-family: "GraphikLCG-Regular";
    font-style: normal;
    src: local("Graphik-Regular-Web"),
        url("../fonts/Graphik-Regular-Web.woff") format("woff");
}